<ul class="horizontal unstyled clearfix">
  {% for link in linklists.main-menu.links %}
  {% if linklists[link.handle] == empty %}
  <li>
    <a href="{{ link.url }}" class="{% if link.active %} current{% endif %}">
      <span>{{ link.title }}</span></a>
  </li>
  {% else %}
  <li class="dropdown"><a href="{{ link.url }}" class="{% if link.active %} current{% endif %}">
    <span>{{ link.title }}</span></a>
    <ul class="dropdown">
      {% for l in linklists[link.handle].links %}
      <li><a href="{{ l.url }}"{% if l.active %} class="current"{% endif %}>{{ l.title }}</a></li>
      {% endfor %}
    </ul>
  </li>
  {% endif %}
  {% endfor %}
</ul>