<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

  <title>
  {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="canonical" href="{{ canonical_url }}" /> 

  {% include 'fb-open-graph-tags' %}
  {% include 'twitter-cards' %}

  {{ 'styles.css' | asset_url | stylesheet_tag }}
  
  {% if settings.header_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.header_font | remove: 'Google+' }}:300,400,700">
  {% endif %}
  {% if settings.base_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.base_font | remove: 'Google+' }}:300,400,700">
  {% endif %}
  {{ 'html5shiv.js' | asset_url | script_tag }}

  {{ content_for_header }}
  
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' | script_tag }}
  {{ 'jquery-migrate-1.2.0.min.js' | asset_url | script_tag }}
  
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  {{ 'scripts.js' | asset_url | script_tag }}
  
</head>

<body>
  
  <!-- Begin toolbar -->
  <div class="toolbar-wrapper">
    <div class="toolbar clearfix">
      <div class="span12 clearfix">
        <ul class="unstyled">

          <li class="search-field fl">
            <form class="search" action="/search">
              <input type="image" src="{{ 'icon-search.png' | asset_url }}" alt="Go" id="go" />
              <input type="text" name="q" class="search_box" placeholder="Search" value="{{ search.terms }}" />
            </form>
          </li>
          <li id="cart-target" class="toolbar-cart "><span class="icon-cart"></span><a href="/cart" class="cart" title="Shopping Cart">Cart: <span id="cart-count">{{ cart.item_count }}</span></a></li>
          {% if cart.item_count != 0 %}
          <li id="checkout-link" ><a href="/cart" title="Checkout">Check out</a></li>
          {% endif %}
          
          {% include 'customer_links' %}
        </ul>
      </div>
    </div>
  </div>
  <!-- End toolbar -->
  
  <!-- Begin wrapper -->
  <div id="transparency" class="wrapper">
    <div class="row">      
           
      <!-- Begin below navigation -->
      <div class="span12 clearfix">
        <div class="logo">
          {% if settings.use_logo %}
          <h1><a href="/"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" /></a></h1>
          {% if template == 'index' %}
          <h1 style="display:none"><a href="/">{{ shop.name }}</a></h1>
          {% endif %}
          {% else %}
          <h1><a href="/">{{ shop.name }}</a></h1>
          {% endif %}
        </div> 
      </div> 
      
      <section id="nav" class="row p30">
        <div class="span12">
          <nav class="main">
            {% include 'dropdown' %}
          </nav> <!-- /.main -->
          <nav class="mobile clearfix">
            {% include 'mobile-menu' %}
          </nav> <!-- /.mobile --> 
        </div> 
      </section> 
      <!-- End below navigation -->
      
      <!-- Begin content-->
      <section id="content" class="clearfix">
          {% if template == "list-collections" %}
          <div id="collection" class="row">
            <div class="span12">
              <h1><span>Product Collections</span></h1>
            </div> <!-- /.span12 -->
          </div> <!-- /.row -->
          
          <div class="row products masonry">
            {% for collection in collections %}
            {% unless collection.all_products_count == 0 or collection.handle == "frontpage" %}
            {% include 'collection-loop' %}
            {% endunless %}
            {% endfor %}
          </div> <!-- /#collection.row -->
          {% else %}
          {{ content_for_layout }}
          {% endif %}
      </section>
      <!-- End content-->
      
    </div>
  </div>
  <!-- End wrapper -->
  
  <!-- Begin footer -->
  <div class="footer-wrapper">
    <footer>
      <div class="row">

        <div class="span12 full-border"></div>
        
        <!-- Begin latest blog post -->
        {% if settings.footer_blog_post and blogs[settings.footer_blog_post].handle == settings.footer_blog_post and blogs[settings.footer_blog_post].articles.size > 0 %}
        {% assign article = blogs[settings.footer_blog_post].articles.first %}
        <div class="span4">
          <div class="p30">
            <h4>{{ settings.footer_blog_post_header }}</h4>
            <p class="p10"><strong>{{ article.title | link_to: article.url }}</strong></p>
            <p>{{ article.content | strip_html | truncatewords: 30 }}</p>
          </div>
        </div>
        {% endif %}
        <!-- End latest blog post -->
        
        {% if settings.footer_linklist != '' and linklists[settings.footer_linklist].links.size > 0 %}
        <!-- Begin footer navigation -->
        <div class="span4 footer-menu">          
          <h4>{{ settings.footer_linklist_title }}</h4>
          <ul class="unstyled">
            {% for link in linklists[settings.footer_linklist].links %}
              <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
          
        </div>
        <!-- End footer navigation -->
        {% endif %}
        
        <!-- Begin newsletter/social -->
        <div class="span4">
          
          {% if settings.footer_display_newsletter %}
          <div class="p30">
            <h4>Newsletter</h4>
            <form action="{{ settings.mailing_list_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
              <input type="email" value="" placeholder="Email Address" name="EMAIL" id="mail" /><input type="submit" class="btn newsletter" value="Subscribe" name="subscribe" id="subscribe" />
            </form>
          </div>
          {% endif %}
          
          <div class="clearfix">
            <h4>Follow Us</h4>
            {% if settings.twitter_link != blank %}<a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" class="icon-social twitter">Twitter</a>{% endif %}
            {% if settings.facebook_link != blank %}<a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" class="icon-social facebook">Facebook</a>{% endif %}
            {% if settings.youtube_link != blank %}<a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" class="icon-social youtube">YouTube</a>{% endif %}
            {% if settings.atom_link != blank %}<a href="{{ settings.atom_link }}" title="{{ shop.name }} news" class="icon-social atom">Blog feed</a>{% endif %}
            {% if settings.instagram_link != blank %}<a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" class="icon-social instagram">Instagram</a>{% endif %}
            {% if settings.pinterest_link != blank %}<a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" class="icon-social pinterest">Pinterest</a>{% endif %}
            {% if settings.vimeo_link != blank %}<a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" class="icon-social vimeo">Vimeo</a>{% endif %}
            {% if settings.tumblr_link != blank %}<a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" class="icon-social tumblr">Tumblr</a>{% endif %}
            {% if settings.google_link != blank %}<a href="{{ settings.google_link }}" title="{{ shop.name }} on Google+" class="icon-social google">Google+</a>{% endif %}
          </div>
          
        </div>
        <!-- End newsletter/social -->
        
        <!-- Begin copyright -->
        <div class="span12 tc copyright">
          <p>Copyright &copy; {{ 'now' | date: "%Y" }} {{ shop.name }} | {{ powered_by_link }}</p>
          {% unless shop.enabled_payment_types == empty %}
          <div class="credit-cards">
             {% for type in shop.enabled_payment_types %}
             <img width="50" src="{{ type | payment_type_img_url }}" />
             {% endfor %}
          </div> <!-- /.credit-cards -->
          {% endunless %}
        </div>
        <!-- End copyright -->

      </div>
    </footer>
  </div>
  <!-- End footer -->
    
  {{ 'jquery.flexslider-min.js' | asset_url | script_tag }}

  {% if settings.enable_product_image_zoom %}
    {{ 'jquery.zoom.js' | asset_url | script_tag }}
  {% endif %}
  {{ 'jquery.tweet.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox.js' | asset_url | script_tag }}

  
  {% if template contains 'product' %}
  
  <script>

  var selectCallback = function(variant, selector) {
    if (variant && variant.available) {
      jQuery('#add-to-cart').removeAttr('disabled').removeClass('disabled');
      if(variant.price < variant.compare_at_price){
        jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + " <del>" + Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}") + "</del>");
      } else {
        jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));
      }
    } else {
      jQuery('#add-to-cart').addClass('disabled').attr('disabled', 'disabled');
      var message = variant ? "Sold Out" : "Unavailable";
      jQuery('#price-preview').text(message);
    }
  };
  
  jQuery(document).ready(function($){
    new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });

    // Add label if only one product option and it isn't 'Title'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
    {% endif %}
  
    // Auto-select first available variant on page load.
    {% assign found_one_in_stock = false %}
    {% for variant in product.variants %}
      {% if variant.available and found_one_in_stock == false %}
        {% assign found_one_in_stock = true %}
        {% for option in product.options %}
        $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
        {% endfor %}
      {% endif %}
    {% endfor %}

  });
       
  </script>
  
  {% endif %}
  
</body>
</html>